*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.logo {
  font-size: 1.4-rem;
}
.spinner {
  width: 5em;
  height: 5rem;
  border: 10px solid rgba(30, 143, 255, 0.575);
  border-top-color: dodgerblue;
  border-radius: 50%;
  animation: loader 1s infinite linear;
  margin: 0 auto;
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
